<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<div th:insert="components/header"></div>

<body class="nav-md">
<div class="container body">
    <div class="main_container">
        <div class="col-md-3 left_col menu_fixed">
            <div class="left_col scroll-view">
                <div th:insert="components/menu-profile"></div>
                <div th:insert="components/sidebar-navigation"></div>
            </div>
        </div>

        <div th:insert="components/top-navigation"></div>

        <!-- page content -->
        <div class="right_col" role="main">
            <div class="">
                <div class="page-title">
                    <div class="title_left">
                        <h3>Project Details</h3>
                    </div>

                </div>

                <div class="clearfix"></div>


                <div class="row">
                    <div class="col-md-12">
                        <div class="x_panel">
                            <div class="x_content">

                                <form class="form-horizontal" name="signup" th:action="@{/projects}" th:object="${project}" method="POST" modelAttribute="project" enctype="UTF8">
                                    <div class="form-row">
                                        <div class="form-group col-md-4">
                                            <label for="project-name">Project Name:</label>
                                            <input th:field="*{name}" type="text" class="form-control" id="project-name" placeholder="Project Name">
                                        </div>
                                        <div class="form-group col-md-4">
                                            <label for="project-manager">Project Manager:</label>
                                            <input th:field="*{contactPerson}" type="text" class="form-control" id="project-manager" placeholder="Project Manager">
                                        </div>

                                        <div class="form-group col-md-4">
                                            <label for="project-manager">Assign Client:</label>
                                            <select th:field="*{client}" id="project" class="form-control">
                                                <option value="">---</option>
                                                <option th:each="client : ${clients}" th:text="${client.getName()}" th:value="${client.getName()}" th:selected="${client.getName()}"></option>
                                            </select>
                                        </div>
                                    </div>

                                    <div class="form-row">
                                        <div class="form-group col-md-12">
                                            <label for="project-description">Project Description:</label>
                                            <textarea th:field="*{description}" rows="15" cols="100" type="text" class="form-control" id="project-description" placeholder=""></textarea>
                                        </div>
                                    </div>
                                    <button type="submit" class="btn btn-primary">Save</button>
                                </form>

                            </div>
                        </div>
                    </div>
                </div>




            </div>
        </div>
        <!-- /page content -->

        <div th:insert="components/footer"></div>
    </div>
</div>


<script src="/js/custom.min.js"></script>
<script>
    function toggleFullscreen(elem) {
        elem = elem || document.documentElement;
        if (!document.fullscreenElement && !document.mozFullScreenElement &&
            !document.webkitFullscreenElement && !document.msFullscreenElement) {
            if (elem.requestFullscreen) {
                elem.requestFullscreen();
            } else if (elem.msRequestFullscreen) {
                elem.msRequestFullscreen();
            } else if (elem.mozRequestFullScreen) {
                elem.mozRequestFullScreen();
            } else if (elem.webkitRequestFullscreen) {
                elem.webkitRequestFullscreen(Element.ALLOW_KEYBOARD_INPUT);
            }
        } else {
            if (document.exitFullscreen) {
                document.exitFullscreen();
            } else if (document.msExitFullscreen) {
                document.msExitFullscreen();
            } else if (document.mozCancelFullScreen) {
                document.mozCancelFullScreen();
            } else if (document.webkitExitFullscreen) {
                document.webkitExitFullscreen();
            }
        }
    }
    document.getElementById('linkFullscreen').addEventListener('click', function() {
        toggleFullscreen();
    });
</script>

</body>
</html>