<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<div th:insert="components/header"></div>

<body class="nav-md">
<div class="container body">
    <div class="main_container">
        <div class="col-md-3 left_col menu_fixed">
            <div class="left_col scroll-view">
                <div th:insert="components/menu-profile"></div>
                <div th:insert="components/sidebar-navigation"></div>
            </div>
        </div>

        <div th:insert="components/top-navigation"></div>

        <!-- page content -->
        <div class="right_col" role="main">
            <div class="">
                <div class="page-title">
                    <div class="title_left">
                        <h3>Project Details</h3>
                    </div>

                </div>

                <div class="clearfix"></div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="x_panel">
                            <div class="x_content">

                                <form class="form-horizontal" name="editProject" id="editProject"
                                      th:action="@{/projects/{name}/edit (name = ${project.getName()})}"
                                      th:object="${project}" method="POST" modelAttribute="project" enctype="UTF8">
                                    <div class="form-row">
                                        <div class="form-group col-md-4">
                                            <label for="project-name">Project Name:</label>
                                            <input th:field="*{name}" type="text" class="form-control" id="project-name"
                                                   placeholder="Project Name">
                                        </div>
                                        <div class="form-group col-md-4">
                                            <label for="project-manager">Project Manager:</label>
                                            <input th:field="*{projectManager}" type="text" class="form-control"
                                                   id="project-manager" placeholder="Project Manager">
                                        </div>

                                        <div class="form-group col-md-4">
                                            <label for="project-manager">Assign Client:</label>
                                            <select th:field="*{client}" id="project" class="form-control">
                                                <option hidden selected value="">-- Assign Client --</option>
                                                <option th:each="client : ${clients}" th:text="${client.getName()}"
                                                        th:value="${client.getClient_id()}"
                                                        th:selected="${client.getName()}"></option>
                                            </select>
                                        </div>
                                    </div>

                                    <div class="form-row">
                                        <div class="form-group col-md-2">
                                            <label for="project-name">Contact Person Full Name:</label>
                                            <input th:field="*{contactPerson}" type="text" class="form-control"
                                                   id="contactPerson" placeholder="Project Name">
                                        </div>

                                        <div class="form-group col-md-2">
                                            <label for="project-manager">Progress:</label>
                                            <input th:field="*{progress}" onKeyPress="return check(event,value)"
                                                   onInput="checkLength()" type="number"
                                                   class="form-control" id="progress" min="0" max="100"
                                                   data-bind="value:replyNumber"/>
                                        </div>

                                        <div class="form-group col-md-2">
                                            <label for="timeSpent">Time Spent:</label>
                                            <input th:field="*{timeSpent}" onKeyPress="return check(event,value)"
                                                   onInput="checkLength()" type="number"
                                                   class="form-control" id="timeSpent" min="0" max="100"
                                                   data-bind="value:replyNumber"/>
                                        </div>

                                        <div class="form-group col-md-2">
                                            <label for="project-manager">Quoted Price:</label>
                                            <input th:field="*{quotePrice}" type="number" class="form-control"
                                                   id="quotePrice" min="0" data-bind="value:replyNumber"/>
                                        </div>

                                        <div class="form-group col-md-2">
                                            <label for="project-manager">Status:</label>
                                            <select th:field="*{status}" id="status" class="form-control">
                                                <option th:value="To + ' ' + do">To Do</option>
                                                <option th:value="In + ' ' + Progress">In Progress</option>
                                                <option th:value="Completed">Completed</option>
                                            </select>
                                        </div>
                                    </div>

                                    <div class="form-row">
                                        <div class="form-group col-md-12">
                                            <label for="project-description">Project Description:</label>
                                            <textarea th:field="*{description}" rows="15" cols="100" type="text"
                                                      class="form-control" id="project-description"
                                                      placeholder=""></textarea>
                                        </div>
                                    </div>
                                    <button type="submit" class="btn btn-primary">Save</button>
                                </form>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /page content -->

    </div>
</div>

<div th:insert="components/footer"></div>
<script src="/js/custom.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.1/dist/jquery.validate.min.js"></script>
<script>

    $(document).ready(function(){
        $("#editProject").validate({
            rules :{
                "name" : {
                    required : true
                },
                "projectManager" : {
                    required : true
                },
                "contactPerson" : {
                    required : true
                },
                "progress" : {
                    required : true
                },
                "description" : {
                    required : true
                }
            },
            messages :{
                "name" : {
                    required : 'A project name is required'
                },
                "projectManager" : {
                    required : 'A project manager is required'
                },
                "contactPerson" : {
                    required : 'A contact person is required'
                },
                "progress" : {
                    required : 'Progress cannot be empty'
                },
                "description" : {
                    required : 'A project description is required'
                }
            }
        });
    });

    function check(e,value){
        //Check Charater
        var unicode=e.charCode? e.charCode : e.keyCode;
        if (value.indexOf(".") != -1)if( unicode == 46 )return false;
        if (unicode!=8)if((unicode<48||unicode>57)&&unicode!=46)return false;
    }
    function checkLength(){
        var fieldVal = document.getElementById('progress').value;
        //Suppose u want 3 number of character
        if(fieldVal <= 100){
            return true;
        }
        else
        {
            var str = document.getElementById('progress').value;
            str = str.substring(0, str.length - 1);
            document.getElementById('progress').value = str;
        }
    }

    $('#progress').on('keypress', function(e){
        return e.metaKey || // cmd/ctrl
            e.which <= 0 || // arrow keys
            e.which == 8 || // delete key
            /[0-9]/.test(String.fromCharCode(e.which)); // numbers
    })
</script>

</body>
</html>