<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<div th:insert="components/header"></div>

<body class="nav-md">
<div class="container body">
    <div class="main_container">
        <div class="col-md-3 left_col menu_fixed">
            <div class="left_col scroll-view">
                <div th:insert="components/menu-profile"></div>
                <div th:insert="components/sidebar-navigation"></div>
            </div>
        </div>

        <div th:insert="components/top-navigation"></div>

        <!-- page content -->
        <div class="right_col" role="main">

            <div style="float:right; width:100%; text-align: center" th:if="${uploaded}" id="mydiv"
                 class="alert alert-success alert-dismissible fade show">
                The project was uploaded successfully
            </div>

            <div style="float:right; width:100%; text-align: center" th:if="${deleted}" id="mydiv"
                 class="alert alert-info alert-dismissible fade show">
                Your file was deleted successfully
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="">
                <div class="page-title">
                    <div class="title_left">
                        <h3>Project Details</h3>
                    </div>

                </div>

                <div class="clearfix"></div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="x_panel">
                            <div class="x_title">
                                <h2 th:text="${project.getName()}"></h2>
                                <button style="float:right" type="button" class="btn btn-danger btn-sm"
                                        data-toggle="modal"
                                        data-target=".bd-example-modal-sm">Delete Project
                                </button>
                                <button style="float:right" type="button" class="btn btn-primary btn-sm">
                                    <a th:href="@{/projects/{name}/edit (name= ${project.getName()})}" style="color: white">Edit Project</a>
                                </button>
                                <div class="clearfix"></div>
                            </div>

                            <div class="x_content">

                                <div class="col-md-9 col-sm-9  ">

                                    <ul class="stats-overview">
                                        <li>
                                            <span class="name"> Project Quote </span>
                                            <span class="value text-success" th:text="'£'+${project.getQuotePrice()}"></span>
                                        </li>
                                        <li>
                                            <span class="name"> Time Spent </span>
                                            <span class="value text-success" th:text="${timeSpent}"></span>
                                            <span class="value text-success" th:if="${timeSpent == ''}">N.A.</span>
                                        </li>
                                        <li class="hidden-phone">
                                            <span class="name"> Expected Completion Date </span>
                                            <span class="value text-success" th:text="${project.expectedCompletionDate}"> </span>
                                            <span class="value text-success" th:if="${project.expectedCompletionDate == ''}">N.A.</span>
                                        </li>
                                    </ul>
                                    <br/>

                                    <div id="mainb"></div>
                                    <figure class="highcharts-figure">
                                        <div id="container"></div>
                                    </figure>
                                    <div>

                                        <h4>Notes:</h4>
                                        <div th:if="${param.error}" class="alert alert-danger">
                                            Notes cannot be empty
                                        </div>

                                        <form class="form-horizontal"
                                              th:action="@{/projects/{name}/add(name = ${project.getName()})}"
                                              th:object="${note}" method="POST" enctype="UTF8">
                                            <div class="form-group row">
                                                <div style="padding-left:0px;" class="col-md-12">
                                                <textarea th:field="*{project_note}" id="user_note" name="user_note"
                                                          class="resizable_textarea form-control"
                                                          placeholder="Enter a note...."></textarea>
                                                </div>
                                            </div>

                                            <div class="form-group row">
                                                <div class="col-md-12" style="padding-left: 0px">
                                                    <button type="submit" class="btn btn-primary btn-sm">Save Note</button>
                                                </div>
                                            </div>

                                        </form>


                                        <h4>Recent Activity</h4>

                                        <div th:if="${#lists.isEmpty(notes)}">
                                            There are no notes!
                                        </div>

                                        <!-- end of user messages -->
                                        <ul class="messages">
                                            <li th:each="note : ${notes}">
                                                <img src="/images/img.jpg" class="avatar" alt="Avatar">
                                                <div class="message_date">
                                                    <h3 class="date text-info"
                                                        th:text="${note.getSubmittedDate().getDayOfMonth()}"></h3>
                                                    <p class="month"
                                                       th:text="${note.getSubmittedDate().getMonth()}"></p>
                                                </div>

                                                <div class="message_wrapper">
                                                    <h4 class="heading"
                                                        th:text="${note.getProject().getClient().getUser().getFullName()}"></h4>
                                                    <blockquote class="message"
                                                                th:text="${note.getProject_note()}"></blockquote>
                                                </div>
                                                <form class="form-horizontal"
                                                      th:action="@{/projects/{name}/note/{id}/delete(name = ${project.getName()}, id=${note.getId()})}"
                                                      th:object="${note}" method="POST" modelAttribute="note"
                                                      enctype="UTF8">
                                                    <button type="submit" style="color: red" class="btn btn-link btn-sm"
                                                            onclick="return confirm('Are you sure you want to delete this note')">
                                                        <i class="fa fa-trash"></i></button>
                                                </form>
                                            </li>

                                        </ul>
                                        <!-- end of user messages -->
                                    </div>
                                </div>

                                <!-- start project-detail sidebar -->
                                <div class="col-md-3 col-sm-3  ">

                                    <section class="panel">

                                        <div class="x_title">
                                            <h2>Project Description</h2>
                                            <div class="clearfix"></div>
                                        </div>
                                        <div class="panel-body">
<!--                                            <h3 class="green"><i class="fa fa-paint-brush"></i> Gentelella</h3>-->

                                            <p th:text="${project.description}"></p>
                                            <br/>

                                            <div class="project_detail">
                                                <p class="title">Contact Person</p>
                                                <p th:text="${project.contactPerson}"></p>
                                            </div>

                                            <br/>
                                            <h5>Project files</h5>
                                            <ul class="list-unstyled project_files">
                                                <li th:each="file : ${projectsFiles}" style="margin-bottom: -13px;">
                                                    <form class="form-horizontal"
                                                          th:action="@{/projects/{name}/downloads/{projectFileId}/delete (name = ${project.getName()}, projectFileId = ${file.getProjectFileId()} ) }"
                                                          method="POST" modelAttribute="note" enctype="UTF8">
                                                        <i class="fa fa-file"></i>
                                                        <a th:href="@{/projects/{name}/downloads/{projectFileId} (name = ${project.getName()}, clientFileId = ${file.getProjectFileId()} ) }"
                                                           th:text="${file.getFilename()}"></a>
                                                        <button style="color: red" type="submit"
                                                                class="btn btn-link btn-sm"
                                                                onclick="return confirm('Are you sure you want to delete this file')">
                                                            <i class="fa fa-trash"></i></button>
                                                    </form>
                                                </li>
                                            </ul>

                                            <br/>

                                            <form th:action="@{/projects/{name}/upload(name = ${project.getName()})}"
                                                  enctype="multipart/form-data" th:method="post">
                                                <div class="input-group">
                                                    <div class="custom-file">
                                                        <input style="cursor: pointer" type="file" name="file"
                                                               class="custom-file-input" id="my_file"
                                                               aria-describedby="inputGroupFileAddon01">
                                                        <label class="custom-file-label" id="filename" for="my_file">Choose
                                                            file</label>
                                                    </div>
                                                    <div class="input-group-prepend">
                                                        <button type="submit" style="font-size: inherit"
                                                                class="input-group-text" id="inputGroupFileAddon01">
                                                            Upload
                                                        </button>
                                                    </div>
                                                </div>
                                            </form>

                                            <br/>
                                            <br/>

                                        </div>

                                    </section>

                                </div>
                                <!-- end project-detail sidebar -->

                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <!-- /page content -->

        <!--Modal to confirm the user wants to delete client-->
        <div class="modal fade bd-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel"
             aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title text-danger" id="exampleModalLabel">Are you sure?</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>

                    <div class="modal-body">

                        <h6 class="text text-danger">Are you sure you want to delete: <span style="font-weight: bold"
                                                                                            th:text=" ${project.getName()}"></span></h6>
                    </div>

                    <div class="modal-footer">
                        <form class="form-horizontal" th:action="@{/projects/{name}/delete(name = ${project.getName()})}"
                              th:object="${project}" method="POST" modelAttribute="client" enctype="UTF8">
                            <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-danger btn-sm">Delete Client</button>
                        </form>

                    </div>

                </div>
            </div>
        </div>


    </div>
</div>

<div th:insert="components/footer"></div>
<script src="/js/custom.min.js"></script>

<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/highcharts-more.js"></script>
<script src="https://code.highcharts.com/modules/dumbbell.js"></script>
<script src="https://code.highcharts.com/modules/lollipop.js"></script>


<script>
    setTimeout(function () {
        $('#mydiv').fadeOut('slow');
    }, 3000); // <-- time in milliseconds

    $("input[id='my_file']").change(function (e) {
        var $this = $(this);
        $this.next().html($this.val().split('\\').pop());
    });

</script>

<script th:inline="javascript">

    /*<![CDATA[*/

    var project = /*[[${project.getName()}]]*/ 'project';

    /*]]>*/

    $.ajax({
        url: '/projects/' + project + '/chart',
        success: function (result) {
            var month = JSON.parse(result).month;
            var days = JSON.parse(result).days;
            var hours = JSON.parse(result).hours;
            drawLineChart(month, days, hours);
        },

    });

    function drawLineChart(month, days, hours) {
        Highcharts.chart('container', {
            chart: {
                type: 'line'
            },
            title: {
                text: 'Monthly Days Worked'
            },
            xAxis: {
                title: {
                    text: 'Months'
                },
                categories: month
            },
            yAxis: {
                title: {
                    text: 'Days'
                },
                tickPixelInterval: 20
            },
            tooltip: {
                formatter: function() {
                    return this.y + ' ' +  this.series.name + ' worked in <b>' + this.x;
                }
            },
            plotOptions: {
                line: {
                    dataLabels: {
                        enabled: true
                    },
                    enableMouseTracking: true
                }
            },
            series: [{
                name: 'Day(s)',
                data: days
            },{
                name: 'Hours',
                data: hours
            }]
        });

    }

</script>

</body>
</html>