<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<div th:insert="components/header"></div>

<body class="nav-md">
<div class="container body">
    <div class="main_container">
        <div class="col-md-3 left_col menu_fixed">
            <div class="left_col scroll-view">
                <div th:insert="components/menu-profile"></div>
                <div th:insert="components/sidebar-navigation"></div>
            </div>
        </div>

        <div th:insert="components/top-navigation"></div>

        <!-- page content -->
        <div class="right_col" role="main">
            <div class="">
                <div class="page-title">
                    <div class="title_left">
                        <h3>Project Details</h3>
                    </div>

                </div>

                <div class="clearfix"></div>


                <div class="row">
                    <div class="col-md-12">
                        <div class="x_panel">
                            <div class="x_title">
                                <h2 th:text="${project.getName()}"></h2>
                                <ul class="nav navbar-right panel_toolbox">
                                    <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                                    </li>
                                    <li class="dropdown">
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                            <a class="dropdown-item" href="#">Settings 1</a>
                                            <a class="dropdown-item" href="#">Settings 2</a>
                                        </div>
                                    </li>
                                    <li><a class="close-link"><i class="fa fa-close"></i></a>
                                    </li>
                                </ul>
                                <div class="clearfix"></div>
                            </div>

                            <div class="x_content">

                                <div class="col-md-9 col-sm-9  ">

                                    <ul class="stats-overview">
                                        <li>
                                            <span class="name"> Estimated budget </span>
                                            <span class="value text-success"> £2300 </span>
                                        </li>
                                        <li>
                                            <span class="name"> Total amount spent </span>
                                            <span class="value text-success"> £2000 </span>
                                        </li>
                                        <li class="hidden-phone">
                                            <span class="name"> Estimated project duration </span>
                                            <span class="value text-success"> £20 </span>
                                        </li>
                                    </ul>
                                    <br />

                                    <div id="mainb"></div>
                                    <figure class="highcharts-figure">
                                        <div id="container"></div>
                                        <p class="highcharts-description">
                                            Lollipop charts are variants of column charts, with a circle
                                            marker for the data value and a line extending to the axis.
                                        </p>
                                    </figure>
                                    <div>


                                        <h4>Recent Activity</h4>

                                        <!-- end of user messages -->
                                        <ul class="messages">
                                            <li>
                                                <img src="/images/img.jpg" class="avatar" alt="Avatar">
                                                <div class="message_date">
                                                    <h3 class="date text-info">24</h3>
                                                    <p class="month">May</p>
                                                </div>
                                                <div class="message_wrapper">
                                                    <h4 class="heading">Desmond Davison</h4>
                                                    <blockquote class="message">Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua butcher retro keffiyeh dreamcatcher synth.</blockquote>
                                                    <br />
                                                    <p class="url">
                                                        <span class="fs1 text-info" aria-hidden="true" data-icon=""></span>
                                                        <a href="#"><i class="fa fa-paperclip"></i> User Acceptance Test.doc </a>
                                                    </p>
                                                </div>
                                            </li>
                                        </ul>
                                        <!-- end of user messages -->
                                    </div>
                                </div>

                                <!-- start project-detail sidebar -->
                                <div class="col-md-3 col-sm-3  ">

                                    <section class="panel">

                                        <div class="x_title">
                                            <h2>Project Description</h2>
                                            <div class="clearfix"></div>
                                        </div>
                                        <div class="panel-body">
                                            <h3 class="green"><i class="fa fa-paint-brush"></i> Gentelella</h3>

                                            <p>Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua butcher retro keffiyeh dreamcatcher synth. Cosby sweater eu banh mi, qui irure terr.</p>
                                            <br />

                                            <div class="project_detail">
                                                <p class="title">Contact Person</p>
                                                <p>Tony Chicken</p>
                                            </div>

                                            <br />
                                            <h5>Project files</h5>
                                            <ul class="list-unstyled project_files">
                                                <li><a href=""><i class="fa fa-file-word-o"></i> Functional-requirements.docx</a>
                                                </li>
                                                <li><a href=""><i class="fa fa-file-pdf-o"></i> UAT.pdf</a>
                                                </li>
                                                <li><a href=""><i class="fa fa-mail-forward"></i> Email-from-flatbal.mln</a>
                                                </li>
                                                <li><a href=""><i class="fa fa-picture-o"></i> Logo.png</a>
                                                </li>
                                                <li><a href=""><i class="fa fa-file-word-o"></i> Contract-10_12_2014.docx</a>
                                                </li>
                                            </ul>
                                            <br />

                                            <div class="text-left mtop20">
                                                <a href="#" class="btn btn-sm btn-primary">Add files</a>
                                                <a href="#" class="btn btn-sm btn-warning">Report contact</a>
                                            </div>
                                        </div>

                                    </section>

                                </div>
                                <!-- end project-detail sidebar -->

                            </div>
                        </div>
                    </div>
                </div>




            </div>
        </div>
        <!-- /page content -->

        <div th:insert="components/footer"></div>
    </div>
</div>


<script src="/js/custom.min.js"></script>
<script>
    function toggleFullscreen(elem) {
        elem = elem || document.documentElement;
        if (!document.fullscreenElement && !document.mozFullScreenElement &&
            !document.webkitFullscreenElement && !document.msFullscreenElement) {
            if (elem.requestFullscreen) {
                elem.requestFullscreen();
            } else if (elem.msRequestFullscreen) {
                elem.msRequestFullscreen();
            } else if (elem.mozRequestFullScreen) {
                elem.mozRequestFullScreen();
            } else if (elem.webkitRequestFullscreen) {
                elem.webkitRequestFullscreen(Element.ALLOW_KEYBOARD_INPUT);
            }
        } else {
            if (document.exitFullscreen) {
                document.exitFullscreen();
            } else if (document.msExitFullscreen) {
                document.msExitFullscreen();
            } else if (document.mozCancelFullScreen) {
                document.mozCancelFullScreen();
            } else if (document.webkitExitFullscreen) {
                document.webkitExitFullscreen();
            }
        }
    }
    document.getElementById('linkFullscreen').addEventListener('click', function() {
        toggleFullscreen();
    });
</script>

<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/highcharts-more.js"></script>
<script src="https://code.highcharts.com/modules/dumbbell.js"></script>
<script src="https://code.highcharts.com/modules/lollipop.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script src="https://code.highcharts.com/modules/accessibility.js"></script>

<script>
    Highcharts.chart('container', {

        chart: {
            type: 'lollipop'
        },

        accessibility: {
            point: {
                valueDescriptionFormat: '{index}. {xDescription}, {point.y}.'
            }
        },

        legend: {
            enabled: false
        },

        credits: {
            enabled: false
        },

        subtitle: {
            text: '2020'
        },

        title: {
            text: 'Earnings for the year of 2020'
        },

        tooltip: {
            valuePrefix: "£",
            shared: true,
        },

        xAxis: {
            type: 'category'
        },

        yAxis: {
            title: {
                text: 'Earnings'
            }
        },

        series: [{
            name: 'Earnings',
            data: [{
                name: 'January',
                low: 500
            }, {
                name: 'February',
                low: 500
            }, {
                name: 'March',
                low: 500
            }, {
                name: 'April',
                low: 500
            }, {
                name: 'May',
                low: 500
            }, {
                name: 'June',
                low: 500
            }, {
                name: 'July',
                low: 500
            }, {
                name: 'August',
                low: 500
            }, {
                name: 'September',
                low: 500
            }, {
                name: 'October',
                low: 500
            }, {
                name: 'November',
                low: 500
            }, {
                name: 'December',
                low: 500
            }]
        }]

    });
</script>


</body>
</html>