<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
    <div class="menu_section">
        <h3>General</h3>
        <ul class="nav side-menu">
            <li><a href="/dashboard"><i class="fa fa-dashboard"></i> Dashboard</a></li>
            <li><a href="/clients"><i class="fa fa-users"></i> Clients</a></li>
            <li><a href="/projects"><i class="fa fa-folder"></i> Projects</a></li>
            <li><a href="/reports"><i class="fa fa-bar-chart-o"></i> Reports </a></li>
            <li><a href="/calendar"><i class="fa fa-calendar"></i> Calendar </a></li>
        </ul>
    </div>
    <div class="menu_section">
        <h3>Forms</h3>
        <ul class="nav side-menu">
            <li><a href="/invoices"><i class="fa fa-file-o"></i> Invoices </a></li>
            <li><a href="/expenses"><i class="fa fa-money"></i> Expenses </a></li>
            <li><a href="/timesheets"><i class="fa fa-clock-o"></i> Timesheets </a></li>
        </ul>
    </div>

    <div class="menu_section" sec:authorize="hasRole('ROLE_SUPER_ADMIN')">
        <h3>Super Admin</h3>
        <ul class="nav side-menu">
            <li><a href="/loggedUsers"><i class="fa fa-dashboard"></i> Total Active Users </a></li>
        </ul>
    </div>

</div>

<div class="sidebar-footer hidden-small">
    <a data-toggle="tooltip" data-placement="top" title="Settings" href="/settings">
        <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
    </a>
    <a onclick="toggleFullscreen(document.documentElement)" id="linkFullscreen" data-toggle="tooltip"
       data-placement="top" title="FullScreen">
        <span class="glyphicon glyphicon-fullscreen" aria-hidden="true"></span>
    </a>
    <a data-toggle="tooltip" data-placement="top" title="Lock" href="/profile">
        <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
    </a>
    <a data-toggle="tooltip" data-placement="top" title="Logout" href="/logout">
        <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
    </a>

</div>