<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<div th:insert="components/header"></div>

<body class="nav-md">
<div class="container body">
    <div class="main_container">
        <div class="col-md-3 left_col menu_fixed">
            <div class="left_col scroll-view">
                <div th:insert="components/menu-profile"></div>
                <div th:insert="components/sidebar-navigation"></div>
            </div>
        </div>

        <div th:insert="components/top-navigation"></div>

        <!-- page content -->
        <div class="right_col" role="main">
            <div class="">
                <div class="page-title">
                    <div class="title_left">
                        <h3>Client Details</h3>
                    </div>

                </div>

                <div class="clearfix"></div>


                <div class="row">
                    <div class="col-md-12">
                        <div class="x_panel">
                            <div class="x_title">
                                <h2 th:text="${name}"></h2>
                                <div class="clearfix"></div>
                            </div>

                            <div class="x_content">

                                <div class="col-md-9 col-sm-9  ">

<!--                                    <ul class="stats-overview">-->
<!--                                        <li>-->
<!--                                            <span class="name"> Estimated budget </span>-->
<!--                                            <span class="value text-success"> £2300 </span>-->
<!--                                        </li>-->
<!--                                        <li>-->
<!--                                            <span class="name"> Total amount spent </span>-->
<!--                                            <span class="value text-success"> £2000 </span>-->
<!--                                        </li>-->
<!--                                        <li class="hidden-phone">-->
<!--                                            <span class="name"> Estimated project duration </span>-->
<!--                                            <span class="value text-success"> £20 </span>-->
<!--                                        </li>-->
<!--                                    </ul>-->

                                    <br />

                                    <div id="mainb"></div>
                                    <h4>Notes:</h4>
                                    <div th:if="${param.error}" class="alert alert-danger">
                                        Notes cannot be empty
                                    </div>
                                    <form class="form-horizontal" th:action="@{/clients/{name}/add(name = ${client.getName()})}" th:object="${note}" method="POST" enctype="UTF8">
                                        <div class="form-group row">
                                            <div class="col-md-12">
                                                <textarea th:field="*{user_note}" id="user_note" name="user_note" class="resizable_textarea form-control" placeholder="Enter a note...."></textarea>
                                            </div>
                                        </div>

                                        <div class="form-group row">
                                            <div class="col-md-12">
                                                <button type="submit" class="btn btn-primary btn-sm">Save Note</button>
                                            </div>
                                        </div>

                                    </form>
                                    <div>

                                        <br />

                                        <h4>Recent Activity</h4>

                                        <div th:if="${#lists.isEmpty(notes)}">
                                            There are no notes!
                                        </div>

                                        <!-- end of user messages -->
                                        <ul class="messages">
                                            <li  th:each = "note : ${notes}">
                                                <img src="/images/img.jpg" class="avatar" alt="Avatar">
                                                <div class="message_date">
                                                    <h3 class="date text-info" th:text="${note.getSubmittedDate().getDayOfMonth()}"></h3>
                                                    <p class="month" th:text="${note.getSubmittedDate().getMonth()}"></p>

                                                    <form class="form-horizontal" th:action="@{/clients/{name}/note/{id}/delete(name = ${client.getName()}, id=${note.getId()})}" th:object="${note}" method="POST" modelAttribute="note" enctype="UTF8">
                                                        <button type="submit" style="color: red" class="btn btn-link btn-sm" onclick="return confirm('Are you sure you want to delete this note')"><i class="fa fa-trash"></i></button>
                                                    </form>
                                                </div>

                                                <div class="message_wrapper">
                                                    <h4 class="heading" th:text="${note.getClient().getUser().getFullName()}"></h4>
                                                    <blockquote class="message" th:text="${note.getUser_note()}"></blockquote>
                                                    <br />
                                                    <br />
                                                    <br />
                                                    <br />

                                                </div>
                                            </li>

                                        </ul>
                                        <!-- end of user messages -->
                                    </div>
                                </div>

                                <!-- start project-detail sidebar -->
                                <div class="col-md-3 col-sm-3  ">

                                    <section class="panel">

                                        <div class="x_title">
                                            <h2>Client Description</h2>
                                            <div class="clearfix"></div>
                                        </div>
                                        <div class="panel-body">
                                            <h3 class="green"><i class="fa fa-paint-brush"></i> Gentelella</h3>

                                            <p th:text="${client.description}"></p>
                                            <br />

                                            <div class="project_detail">
                                                <h5 class="title">Contact Person</h5>
                                                <span th:text="${'Name:' + client.contactPerson}"></span>
                                                <br/>
                                                <p><a th:href="'mailto:' + ${client.getContactPersonEmail()}" th:text="${'Email: ' + client.getContactPersonEmail()}"></a></p>
                                            </div>

                                            <br />
                                            <h5>Client files</h5>
                                            <ul class="list-unstyled project_files">
                                                <li><a href=""><i class="fa fa-file-word-o"></i> Functional-requirements.docx</a>
                                                </li>
                                                <li><a href=""><i class="fa fa-file-pdf-o"></i> UAT.pdf</a>
                                                </li>
                                                <li><a href=""><i class="fa fa-mail-forward"></i> Email-from-flatbal.mln</a>
                                                </li>
                                                <li><a href=""><i class="fa fa-picture-o"></i> Logo.png</a>
                                                </li>
                                                <li><a href=""><i class="fa fa-file-word-o"></i> Contract-10_12_2014.docx</a>
                                                </li>
                                            </ul>

                                            <br/>

                                            <form>
                                                <div class="form-group">
                                                    <label for="exampleFormControlFile1">Example file input</label>
                                                    <input type="file" class="form-control-file" id="exampleFormControlFile1">
                                                </div>
                                            </form>

                                            <br />
                                            <br/>

                                            <div class="text-left mtop20">

                                                <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#exampleModalCenter">Edit Client</button>
                                                <button type="button" class="btn btn-danger btn-sm" data-toggle="modal" data-target=".bd-example-modal-sm">Delete Client</button>

                                            </div>
                                        </div>

                                    </section>

                                </div>
                                <!-- end project-detail sidebar -->
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>
        <!-- /page content -->

        <!-- Modal -->
        <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog"
             aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">Add Client</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">

                        <form class="form-horizontal" name="signup" th:action="@{/clients/{name}/edit(name = ${client.getName()})}" th:object="${client}" method="POST" modelAttribute="client" enctype="UTF8">

                            <div class="form-group row ">
                                <div class="col-md-12 col-sm-12 ">
                                    <input th:field="*{name}" id="name" name="name" type="text" class="form-control" placeholder="Client Name">
                                </div>
                            </div>

                            <div class="form-group row ">
                                <div class="col-md-6 col-sm-6  form-group">
                                    <input th:field="*{addressLineOne}" id="addressLineOne" name="addressLineOne" type="text" class="form-control" placeholder="Address Line 1">
                                </div>

                                <div class="col-md-6 col-sm-6  form-group">
                                    <input th:field="*{addressLineTwo}" id="addressLineTwo" name="addressLineTwo" type="text" class="form-control" placeholder="Address Line 2">
                                </div>
                            </div>

                            <div class="form-group row ">
                                <div class="col-md-6 col-sm-6  form-group">
                                    <input th:field="*{city}" id="city" name="city" type="text" class="form-control" placeholder="City / Town">
                                </div>

                                <div class="col-md-6 col-sm-6  form-group">
                                    <input th:field="*{region}" id="region" name="region" type="text" class="form-control" placeholder="State/Province/Region">
                                </div>

                            </div>

                            <div class="form-group row ">
                                <div class="col-md-6 col-sm-6  form-group">
                                    <input th:field="*{postCode}" id="postCode" name="postCode" type="text" class="form-control" placeholder="Zip / Postal Code">
                                </div>

                                <div class="col-md-6 col-sm-6  form-group">
                                    <input th:field="*{country}" id="country" name="country" type="text" class="form-control" placeholder="Country">
                                </div>
                            </div>

                            <div class="form-group row ">
                                <div class="col-md-12 col-sm-12 ">
                                    <input th:field="*{contactPerson}" id="contactPerson" name="contactPerson" type="text" class="form-control" placeholder="Contact Person">
                                </div>
                            </div>

                            <div class="form-group row ">
                                <div class="col-md-12 col-sm-12 ">
                                    <input th:field="*{contactPersonEmail}" id="contactPersonEmail" name="contactPersonEmail" type="text" class="form-control" placeholder="Contact Person Email">
                                </div>
                            </div>

                            <div class="form-group row ">
                                <div class="col-md-12 col-sm-12 ">
                                    <textarea th:field="*{description}" id="description" required="required" class="form-control" name="description" data-parsley-trigger="keyup" data-parsley-minlength="20"
                                              data-parsley-maxlength="100" data-parsley-minlength-message="Come on! You need to enter at least a 20 caracters long comment.." data-parsley-validation-threshold="10"
                                              placeholder="Description">
                                    </textarea>
                                </div>
                            </div>

                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                <button type="submit" class="btn btn-primary">Save changes</button>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade bd-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-sm">
                <div class="modal-content">

                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Are you sure?</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>

                    <div class="modal-body">
                        <p>Are you sure you want to delete: <span style="font-weight: bold" th:text=" ${client.getName()}"></span></p>
                    </div>

                    <div class="modal-footer">
                        <form class="form-horizontal" th:action="@{/clients/{name}/delete(name = ${client.getName()})}" th:object="${client}" method="POST" modelAttribute="client" enctype="UTF8">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-danger">Delete Client</button>
                        </form>

                    </div>

                </div>
            </div>
        </div>

        <div th:insert="components/footer"></div>
    </div>
</div>


<script src="/js/custom.min.js"></script>
<script>
    function toggleFullscreen(elem) {
        elem = elem || document.documentElement;
        if (!document.fullscreenElement && !document.mozFullScreenElement &&
            !document.webkitFullscreenElement && !document.msFullscreenElement) {
            if (elem.requestFullscreen) {
                elem.requestFullscreen();
            } else if (elem.msRequestFullscreen) {
                elem.msRequestFullscreen();
            } else if (elem.mozRequestFullScreen) {
                elem.mozRequestFullScreen();
            } else if (elem.webkitRequestFullscreen) {
                elem.webkitRequestFullscreen(Element.ALLOW_KEYBOARD_INPUT);
            }
        } else {
            if (document.exitFullscreen) {
                document.exitFullscreen();
            } else if (document.msExitFullscreen) {
                document.msExitFullscreen();
            } else if (document.mozCancelFullScreen) {
                document.mozCancelFullScreen();
            } else if (document.webkitExitFullscreen) {
                document.webkitExitFullscreen();
            }
        }
    }
    document.getElementById('linkFullscreen').addEventListener('click', function() {
        toggleFullscreen();
    });
</script>
</body>
</html>