<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>BMS | Create User</title>

    <script src="/webjars/jquery/2.2.3/jquery.min.js"></script>
    <script src="/webjars/bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
    <script src="/webjars/fastclick/1.0.6/fastclick.js"></script>
    <script src="/webjars/nprogress/0.2.0/nprogress.js"></script>
    <script src="/webjars/parsleyjs/2.9.1/parsley.min.js"></script>

    <link href="/webjars/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="/webjars/font-awsome/4.6.1/css/font-awesome.min.css" rel="stylesheet">
    <link href="/webjars/nprogress/0.2.0/nprogress.css" rel="stylesheet">
    <link href="/webjars/animate.css/3.5.1/animate.min.css" rel="stylesheet">
    <link href="/webjars/icheck/1.0.2/skins/flat/green.css" rel="stylesheet">
    <link href="/webjars/select2/4.0.2/dist/css/select2.min.css" rel="stylesheet">
    <link href="/webjars/switchery/0.8.1/dist/switchery.min.css" rel="stylesheet">
    <link href="css/custom.min.css" rel="stylesheet">

</head>
<body class="login">

<div>
    <div class="login_wrapper">
        <div class="animate form login_form">
            <section class="login_content">
                <form name="forgot-password" th:action="@{/forgot-password}" th:object="${user}" method="POST" enctype="UTF8">
                    <h1>Reset Password</h1>

                    <div th:if="${message}" th:text="${message}" class="alert alert-success"></div>
                    <div th:if="${errorMessage}" th:text="${errorMessage}" class="alert alert-danger"></div>

                    <div class="col-md-12 col-sm-6  form-group has-feedback">
                        <input style="margin: 0px" type="text" class="form-control has-feedback-left" id="email" name="email" placeholder="Email">
                        <span style="float:left; color: red; text-align: left;" id="error-validEmail"></span>
                        <span class="fa fa-envelope form-control-feedback left" aria-hidden="true" id=""></span>
                    </div>

                    <div class="form-actions" style="margin-top: 12px;">
                        <button type="submit" id="btnSubmit" class="btn btn-light">Send Email</button>
                    </div>

                    <div class="clearfix"></div>

                    <div class="separator">
                        <p class="change_link">Already a member ?
                            <a id="already-member" name="forgot-password-btn" href="/login" class="to_register"> Log in </a>
                        </p>

                        <div class="clearfix"></div>
                        <br />

                        <div>
                            <h1>Business Management System</h1>
                            <p th:inline="text" >
                                ©
                                <span th:text="${#dates.format(#dates.createNow(),'yyyy')}"></span>
                                <span>| All Rights Reserved. Privacy and Terms</span>
                            </p>

                        </div>
                </form>
            </section>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(function () {
        $("#btnSubmit").click(function () {
            var email = new RegExp("^([a-zA-Z0-9_\\-\\.]+)@([a-zA-Z0-9_\\-\\.]+)\\.([a-zA-Z]{2,5})$");
            var emailField = $("#email").val();

            if (!email.test(emailField)) {
                $("#error-validEmail").html("Please enter a valid email");
                return false;
            }

        });
    });

</script>

<script src="js/validator.js"></script>

</body>
</html>
