<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<div th:insert="components/header"></div>

<body class="login">
    <div>
        <div class="login_wrapper">
            <div class="animate form login_form">
                <section class="login_content">

                    <form name="login-form" th:action="@{/login}" th:object="${user}" method="post">
                        <h1>Login Form</h1>

                        <div th:if="${message}" th:text="${message}" class="alert alert-success"></div>

                        <div th:if="${param.invalidToken}" class="alert alert-danger">
                            Password Reset token has expired
                        </div>

                        <div th:if="${param.error}" class="alert alert-danger">
                            Invalid username and password.
                        </div>

                        <div th:if="${param.logout}" class="alert alert-success">
                            You have been logged out.
                        </div>

                        <div class="col-md-12 col-sm-6  form-group has-feedback">
                            <input id="username" required="" name="username"  type="username" class="form-control has-feedback-left" placeholder="Username" autofocus="autofocus">
                            <span class="fa fa-user form-control-feedback left" aria-hidden="true"></span>
                        </div>

                        <div class="col-md-12 col-sm-6  form-group has-feedback">
                            <input id="password" required="" name="password"  type="password" class="form-control has-feedback-left" placeholder="Password">
                            <span class="fa fa-key form-control-feedback left"></span>
                        </div>


                        <div class="col-md-12 col-sm-6  form-group has-feedback">
                            <input id="remember-me" type="checkbox" class="form-check-input" name="remember-me">
                            <label  class="form-check-label" for="remember-me">Remember me?</label>
                        </div>

                        <div class="form-actions" style="margin-top: 12px;">
                            <button name="login-btn" type="submit" class="btn btn-light">Log in</button>
                        </div>

                        <div class="form-check" style="margin-top: 12px;">
                            <a class="form-check-label" name="lost-your-password" href="/forgot-password">Lost your password?</a>
                        </div>

                        <div class="form-check" style="margin-top: 12px;">
                            Do not have an account?
                            <a class="form-check-label" name="signup" href="/signup">Sign up here</a>
                        </div>

                        <div class="clearfix"></div>

                        <div class="separator">
                            <div class="clearfix"></div>
                            <br />

                            <div>
                                <h1>Business Management System</h1>

                                <p th:inline="text" >
                                    ©
                                    <span th:text="${#dates.format(#dates.createNow(),'yyyy')}"></span>
                                    <span>| All Rights Reserved. Privacy and Terms</span>
                                </p>

                            </div>
                        </div>
                    </form>

                </section>
            </div>
    </div>
    </div>

<script src="/webjars/jquery/2.2.3/jquery.min.js"></script>
<script src="/webjars/bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
<script src="/webjars/fastclick/1.0.6/fastclick.js"></script>
<script src="/webjars/nprogress/0.2.0/nprogress.js"></script>
<script src="/webjars/parsleyjs/2.9.1/parsley.min.js"></script>
<script src="js/validator.js"></script>

</body>
</html>
