<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<div th:insert="components/header"></div>

<body class="nav-md">
<div class="container body">
    <div class="main_container">
        <div class="col-md-3 left_col menu_fixed">
            <div class="left_col scroll-view">
                <div th:insert="components/menu-profile"></div>
                <div th:insert="components/sidebar-navigation"></div>
            </div>
        </div>

        <div th:insert="components/top-navigation"></div>

        <!-- page content -->
        <div class="right_col" role="main">
            <div class="">
                <div class="page-title">
                    <div class="title_left">
                        <h3>Projects</h3>
                    </div>

                </div>

                <div class="clearfix"></div>

                <div class="row">
                    <div class="col-md-12 col-sm-12  ">
                        <div class="x_panel">
                            <div class="x_title">
                                <ul class="nav navbar-right panel_toolbox">
                                    <button type="button" onclick="location.href='/projects/add'" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
                                        Create Project
                                    </button>
                                </ul>
                                <div class="clearfix"></div>
                            </div>
                            <div class="x_content">

                                <div th:if="${#lists.isEmpty(projects)}">
                                    There are no projects!
                                </div>

                                <div class="x_content" th:if="${!#lists.isEmpty(projects)}">

                                    <div class="table-responsive">
                                        <table class="table table-striped jambo_table bulk_action">
                                            <thead>
                                            <tr>
                                                <th style="width: 1%">#</th>
                                                <th >Project Name</th>
                                                <th>Team Members</th>
                                                <th>Project Progress</th>
                                                <th>Status</th>
                                                <th style="width: 20%">Actions</th>
                                            </tr>
                                            </thead>

                                            <tbody  th:each="project : ${projects}">
                                            <tr>
                                                <td>#</td>
                                                <td>
                                                    <a th:href="@{/projects/{name}(name = ${project.getName()})}" th:text="${project.getName()}"></a>
                                                    <br />
                                                    <small>Created 01.01.2015</small>
                                                </td>
                                                <td>
                                                    <ul class="list-inline">
                                                        <li>
                                                            <img src="/images/img.jpg" alt="Avatar" class="avatar">
                                                        </li>
                                                    </ul>
                                                </td>
                                                <td style="padding-top: 21px">
                                                    <div class="progress">
                                                        <div class="progress-bar-success" role="progressbar"  aria-valuenow="57" aria-valuemin="0" aria-valuemax="100" style="width:0%">
                                                        </div>
                                                        <span class="sr-only">0% Complete</span>
                                                    </div>
                                                    <small>0% Complete</small>
                                                </td>
                                                <td style="padding-top: 21px">
                                                    <h7>Success</h7>
                                                </td>
                                                <td>
                                                    <a href="#" class="btn btn-link btn-sm"><i class="fa fa-folder"></i> View </a>
                                                    <a href="#" class="btn btn-link btn-sm"><i class="fa fa-pencil"></i> Edit </a>
                                                    <a style="color: red" href="#" class="btn btn-link btn-sm"><i class="fa fa-trash-o"></i> Delete </a>
                                                </td>
                                            </tr>

                                            </tbody>
                                        </table>
                                    </div>


                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /page content -->



        <!-- Modal -->
<!--        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">-->
<!--            <div class="modal-dialog" role="document">-->
<!--                <div class="modal-content">-->
<!--                    <div class="modal-header">-->
<!--                        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>-->
<!--                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">-->
<!--                            <span aria-hidden="true">&times;</span>-->
<!--                        </button>-->
<!--                    </div>-->
<!--                    <div class="modal-body">-->
<!--                        <form class="form-horizontal" name="signup" th:action="@{/templates/project}" th:object="${project}"-->
<!--                              method="POST" modelAttribute="client" enctype="UTF8">-->

<!--                            &lt;!&ndash;                            <div th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="alert alert-danger"></div>&ndash;&gt;-->

<!--                            <div class="form-group row ">-->
<!--                                <div class="col-md-12 col-sm-12 ">-->
<!--                                    <input th:field="*{name}" id="name" name="name" type="text" class="form-control" placeholder="Client Name">-->
<!--                                </div>-->
<!--                            </div>-->

<!--                            <div class="modal-footer">-->
<!--                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>-->
<!--                                <button type="submit" class="btn btn-primary">Save changes</button>-->
<!--                            </div>-->

<!--                        </form>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->

        <div th:insert="components/footer"></div>
</div>

<script src="js/custom.min.js"></script>
<script>
    function toggleFullscreen(elem) {
        elem = elem || document.documentElement;
        if (!document.fullscreenElement && !document.mozFullScreenElement &&
            !document.webkitFullscreenElement && !document.msFullscreenElement) {
            if (elem.requestFullscreen) {
                elem.requestFullscreen();
            } else if (elem.msRequestFullscreen) {
                elem.msRequestFullscreen();
            } else if (elem.mozRequestFullScreen) {
                elem.mozRequestFullScreen();
            } else if (elem.webkitRequestFullscreen) {
                elem.webkitRequestFullscreen(Element.ALLOW_KEYBOARD_INPUT);
            }
        } else {
            if (document.exitFullscreen) {
                document.exitFullscreen();
            } else if (document.msExitFullscreen) {
                document.msExitFullscreen();
            } else if (document.mozCancelFullScreen) {
                document.mozCancelFullScreen();
            } else if (document.webkitExitFullscreen) {
                document.webkitExitFullscreen();
            }
        }
    }
    document.getElementById('linkFullscreen').addEventListener('click', function() {
        toggleFullscreen();
    });
</script>

</body>
</html>
