<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">

<div th:insert="components/header"></div>

<body class="login">

<div>
    <div class="login_wrapper">
        <div class="animate form login_form">
            <section class="login_content">
                <form id="ourform" name="signup" th:action="@{/signup}" th:object="${user}" method="POST"
                      modelAttribute="user" enctype="UTF8">
                    <h1>Create User</h1>

                    <div class="col-md-6 col-sm-6  form-group has-feedback">
                        <input style="margin: 0px" th:field="*{first_name}" id="first_name" name="first_name"
                               type="text" class="form-control has-feedback-left" placeholder="First Name">
                        <span style="float:left; color: red; text-align: left;"
                              th:if="${#fields.hasErrors('first_name')}" th:errors="*{first_name}"></span>
                        <span class="fa fa-user form-control-feedback left" aria-hidden="true"></span>
                    </div>

                    <div class="col-md-6 col-sm-6  form-group has-feedback">
                        <input style="margin: 0px" th:field="*{last_name}" id="last_name" name="last_name" type="text"
                               class="form-control" placeholder="Last Name">
                        <span style="float:left; color: red; text-align: left;"
                              th:if="${#fields.hasErrors('last_name')}" th:errors="*{last_name}"></span>
                        <span class="fa fa-user form-control-feedback right" aria-hidden="true"></span>
                    </div>

                    <div class="col-md-12 col-sm-6  form-group has-feedback">
                        <input style="margin: 0px" th:field="*{username}" type="text" name="username"
                               class="form-control has-feedback-left" id="username" placeholder="Username">
                        <span style="float:left; color: red; text-align: left;" th:if="${#fields.hasErrors('username')}"
                              th:errors="*{username}" id="username-error"></span>
                        <span class="fa fa-user form-control-feedback left" aria-hidden="true"></span>
                    </div>

                    <div class="col-md-12 col-sm-6  form-group has-feedback">
                        <input style="margin: 0px" th:field="*{email}" type="text"
                               class="form-control has-feedback-left" id="email" name="email" placeholder="Email">
                        <span style="float:left; color: red; text-align: left;" th:if="${#fields.hasErrors('email')}"
                              th:errors="*{email}" id="error-validateEmail"></span>
                        <span class="fa fa-envelope form-control-feedback left" aria-hidden="true"></span>
                    </div>

                    <div class="col-md-12 col-sm-6  form-group has-feedback">
                        <input style="margin: 0px" th:field="*{password}" id="password" name="password" type="password"
                               class="form-control has-feedback-left" placeholder="Password">
                        <span style="float:left; color: red; text-align: left;" th:if="${#fields.hasErrors('password')}"
                              th:errors="*{password}" id="error-passwordMatch"></span>
                        <span class="fa fa-key form-control-feedback left" aria-hidden="true"></span>
                    </div>

                    <div class="col-md-12 col-sm-6  form-group has-feedback">
                        <input style="margin: 0px" th:field="*{confirmPassword}" id="confirmPassword"
                               name="confirmPassword" type="password" class="form-control has-feedback-left"
                               placeholder="Confirm Password">
                        <span class="fa fa-key form-control-feedback left" aria-hidden="true"></span>
                    </div>

                    <div class="form-actions" style="margin-top: 12px;">
                        <button type="submit" id="btnSubmit" class="btn btn-light">Add user</button>
                    </div>

                    <div class="clearfix"></div>

                    <div class="separator">
                        <p class="change_link">Already a member ?
                            <a id="already-member" href="/login" class="to_register"> Log in </a>
                        </p>

                        <div class="clearfix"></div>
                        <br/>

                        <div>
                            <h1>Business Management System</h1>
                            <p th:inline="text">
                                ©
                                <span th:text="${#dates.format(#dates.createNow(),'yyyy')}"></span>
                                <span>| All Rights Reserved. Privacy and Terms</span>
                            </p>

                        </div>
                    </div>
                </form>

            </section>
        </div>
    </div>
</div>

<script src="js/validator.js"></script>
<script type="text/javascript">
    $(function () {
        $("#btnSubmit").click(function () {
            var password = $("#password").val();
            var confirmPassword = $("#confirmPassword").val();

            if (password != confirmPassword) {
                $("#error-passwordMatch").html("Passwords do not match!");
                return false;
            }

        });
    });
</script>

</body>
</html>
